@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		height: 100%;
	}

	body {
		min-height: 100vh;
		margin: 0;
		background-color: #fffd8f;
		color: #000;
	}

	a {
		color: #8F91FF;
		text-decoration: underline;
		text-underline-offset: 0.2em;
		font-weight: 600;
	}

	button {
		background-color: #8F91FF;
		color: white;
		border: 1px solid black;
		border-radius: 0;
		padding: 0.5rem 1rem;
		cursor: pointer;
	}

	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	input,
	textarea {
		border: 1px solid black;
		padding: 0.5rem;
		outline: none;
	}

	input:focus,
	textarea:focus {
		outline: none;
		border: 1px solid black;
	}

	img {
		max-height: 300px;
		border: 5px solid #8F91FF;
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
	}

	.header {
		font-weight: bold;
		margin-bottom: 1em;
	}

	ul,
	ol {
		margin-bottom: 1rem;
	}

	center {
		margin-bottom: 1rem;
	}

	blockquote {
		margin-bottom: 1rem;
		border-left: 3px solid #FD8FFF;
		padding-left: 1rem;
		font-style:italic;
	}
}
